<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCV for all E1TVs</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/generic.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

    <div class="container-all" data-channel="<%=ejsdata.channel%>">
        <%=ejsdata.viewers%>
            <% for (let i = 0; i < ejsdata.length; i++) { %>
                <p style="color:aliceblue">
                    <%= ejsdata[i].channel%>
                </p>
                <p>
                    <%= ejsdata[i].viewers%>
                </p>
                <br>
                <% } %>
    </div>



</body>

<script>
    function forceReload() {
        location.reload()
    }
    $(document).ready(function() {
        const intervalId = setInterval(forceReload, 60000)

    })
</script>

</html>